<div id="carousel-ex" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="carousel-ex" data-slide-to="0" class="active"></li>
    <li data-target="carousel-ex" data-slide-to="1"></li>
    <li data-target="carousel-ex" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner listbox">
    <div class="item active">
      <!-- 属性绑定 -->
      <img [src]="img1.imgSrc" [alt]="img1.imgAlt">
      <div class="carousel-caption">
        {{img1.imgAlt}}
      </div>
    </div>
    <div class="item">
      <img [src]="img2.imgSrc" [alt]="img2.imgAlt">
      <div class="carousel-caption">
        {{img2.imgAlt}}
      </div>
    </div>
    <div class="item">
      <img [src]="img3.imgSrc" [alt]="img3.imgAlt">
      <div class="carousel-caption">
        {{img3.imgAlt}}
      </div>
    </div>
  </div>

  <a href="#carousel-ex" class="left carousel-control" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a href="#carousel-ex" class="right carousel-control" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

